<section class="row">
  <button class="btn" (click)="addEmptyOrder()" [hidden]="orderId !== 'new'">Agregar orden</button>
  <table style="width: 100%;" class="table" [hidden]="orderId === 'new'">
    <thead>
    <th style="width: 5%;"></th>
    <th style="width: 45%;">Producto</th>
    <th style="width: 20%;">Cantidad</th>
    <th style="width: 20%;">Importe</th>
    <th style="width: 10%;">Comisión</th>
    <th style="width: 20%;">Subtotal</th>
    </thead>
    <tbody>
    <tr *ngFor="let element of orderElements">
      <td>
        <span class="fa fa-times" style="cursor: pointer;" [hidden]="order.closed || order.paid"></span>
      </td>
      <td>{{ element.name }}</td>
      <td>{{ element.qty }}</td>
      <td>{{ element.price|currency }}</td>
      <td>{{ element.interest|currency }}</td>
      <td>{{ element.amount|currency }}</td>
    </tr>
    <tr></tr>
    <tr [hidden]="order.elements === 0 || orderId === 'new'">
      <td colspan="3">&nbsp;</td>
      <td>{{ totalElements|currency }}</td>
      <td>{{ totalInterest|currency }}</td>
      <td>&nbsp;</td>
    </tr>
    <tr style="margin-top: 2.5px; margin-bottom: 2.5px;" [hidden]="order.paid">
      <td colspan="5">&nbsp;</td>
      <td>
        <span class="fa fa-plus" style="cursor: pointer;" (click)="open(content)"
        [hidden]="order.closed ||order.paid"></span>
      </td>
    </tr>
    </tbody>
  </table>
</section>
<section class="margin-top-35">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" [hidden]="order.elements === 0 || orderId === 'new'">
    <span class="right-only">
      Total: {{ order.total|currency }}
    </span>
  </div>
</section>
<section class="row margin-top-35" [hidden]="orderId === 'new'">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 bottom-line">
    <span>Acciones</span>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <button style="display: inline-block;" class="btn btn-secondary margin-3" [swal]="{
        title: 'Cerrar órden',
        text: '¿Estás seguro de cerrar la órden de compra?'
      }"
        (confirm)="close()"
        [disabled]="order.closed || order.elements === 0">Cerrar orden</button>
      <button style="display: inline-block;" class="btn btn-secondary margin-3" [disabled]="!order.closed">
        Generar movimiento
      </button>
      <button style="display: inline-block;" class="btn btn-secondary margin-3" [disabled]="order.paid">Orden pagada</button>
    </div>
  </div>
</section>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Productos</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <table style="width: 100%" class="table table-bordered">
        <thead>
        <tr>
          <th style="width: 40%;">Producto/Cantidad</th>
          <th style="width: 40%;">Precio</th>
          <th style="width: 10%">Cantidad</th>
          <th style="width: 10%;">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
          <td>
            {{ product.name }} ({{ product.qty }})
          </td>
          <td>
            {{ product.price|currency }}
          </td>
          <td>
            <input type="number" [(ngModel)]="product.qtyRequest" [ngModelOptions]="{standalone: true}"
                   [max]="product.qty" class="form-control" min="0">
          </td>
          <td>
            <button class="btn" (click)="addOrderElement(product)"
                    [disabled]="product.qty === 0 && product.qtyRequest === 0">
              Agregar
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
<swal #errorSwal title="Producto" text=""></swal>
