<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <p>Tus últimas órdenes</p>
      <p style="margin-left: 20px" [hidden]="sessionOrders.length > 0">No tienes órdenes recientes</p>
      <span class="btn inline-badges" style="display: inline-block;" *ngFor="let sessionOrder of sessionOrders">
        <span (click)="go(sessionOrder.id)" style="cursor: pointer;">Orden {{ sessionOrder.id }}</span>&nbsp;
        <span class="fa fa-times" (click)="removeFromSession(sessionOrder.id)" style="cursor: pointer;"></span>
      </span>
    </div>
  </div>
</div>
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Creación de orden</h4>
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </div>
  </div>
</div>
<swal #errorSwal title="Producto" text=""></swal>
